$color-black: #222;
$color-white: #fff;
$color-blue: #448aff;
$color-red: #f00;

$color-tpu: #80bf44;
$color-hse: #6699ff;
$color-eldorado: #d2222c;
$color-rubius: #288348;
$color-yandex: #ffd70a;
$color-telegram: #179cde;
$color-github: #34d058;


$font-family-serif: Lora, Georgia, "Times New Roman", Times, serif;
$font-family-sans: "Fira Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-indent: 25px;

$project-width: 240px;
$project-height: 350px;

$mobile: 500px;
