html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6em;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-family-sans;
    color: $color-black;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}
