.experience {
    margin: 10px 0;
    &__company {
        font-size: 2.0rem;
    }
    &__position {
        font-family: $font-family-serif;
        font-style: italic;
        font-size: 1.6rem;
    }
    &__info {
        font-size: 1.6rem;
        color: transparentize($color-white, 0.6);
    }
}
